#!/bin/bash

echo ""
echo "This script assumes you are using UFW for firewall management."
echo "If you are using another firewall management utility, allow the following 2 ports manually:"
echo ""
echo "{{ ports }}"
echo ""

if command -v "ufw" &> /dev/null
then
    {% for port in ports %}
    ## Allow port {{ port }}
    sudo ufw allow {{ port }}
    {% endfor %}
fi
